html, body, header, div, article, nav, section, main {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    border: 1px solid #3c3c3c;
    min-width: 320px;
    width: 40%;
    margin: 0 auto;
    overflow:scroll;
}
body {
    height: 100%;
    overflow:scroll;
}
header {
    background-image: url(vegetables.jpg);
    background-position: 50% 70%;
    color: #fff;
    font-size: 1em;
    padding: 3em 0;
}
header>h1,h2 {
    margin: 0 auto;
    width: max-content;
    background: rgba(0,0,0,0.5);
    font-family: "Courier New";
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
}

main {
    text-align: center;
}

main>h3 {
    margin: 1em 0 0;
}

.large-button {
    border: 1px solid #c3c3c3;
    padding: 1em 2em;
    background: #64c99b;
    text-decoration: none;
    color: #7a4f99;
    margin: 0 auto;
}
.large-button:hover {
    background: #b2cf3e;
}

footer {
    position: sticky;
    top:100vh;
    bottom: 0;
    right: 0; left: 0;
    text-align: center;
    background-color: #44a5cb;
    padding: 0.4em 0;
    margin: auto;
}
footer a {
    color: #fff;
}

pre {
    font-size: 0.5em;
    text-align: left;
    width: max-content;
    margin: 4em auto 0;
    color: grey;
}
form {
    text-align:left;
}
textarea {
    width:100%;
    box-sizing: border-box;
}
table, tr, td {
    border: none; margin:0; padding:0;
}

.form-table {width:100%; 
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.form-table input {
    width:100%;
    box-sizing: border-box;
    line-height:1.6em;
}
.form-table textarea {
    height: 6em;
}
/*input, textarea {border:none; width:;}*/