html, body, header, div, article, nav, section, main {
    margin: 0;
    padding: 0;
}
html {    background-size: 50%;
     }
body {
    min-height: 100%;
    /*border: 1px solid #3c3c3c;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 320px;
    width: 40%;
    margin: 0 auto;
    background-color:#fff;
    filter:none;
}
@media only screen and (max-width: 480px) {
    body {
        width: 100%
    }
}
@media only screen and (min-width: 480px) {
    body {
        min-width: 480px
    }
}
body {
    min-height: 100%;
}
header {
    background-image: url(vegetables.jpg);
    background-position: 0 70%;
    color: #fff;
    font-size: 1em;
    padding: 3em 0;
}
header>h1,h2 {
    margin: 0 auto;
    width: max-content;
    background: rgba(0,0,0,0.5);
    font-family: "Courier New";
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
}

main {
    text-align: center;
    padding: 0 1em;
}

main>h3 {
    margin-bottom: 2em;
}

.button {
    border: 1px solid #c3c3c3;
    background: #64c99b;
    text-decoration: none;
    color: #fff;
    padding: 4px 1em 2px;
    border-radius: 4px
}
.large-button {
    border: 1px solid #c3c3c3;
    padding: 1em 2em;
    background: #64c99b;
    text-decoration: none;
    color: #7a4f99;
}
.large-button:hover,
.button:hover {
    background: #b2cf3e;
}
.large-button:disabled
.button:disabled {
    background: grey;
}

footer {
    display:block;
    margin: 2em auto 0;
    /*position: absolute;*/
    /*bottom: 0;
    right: 0; left: 0;*/
    text-align: center;
    background-color: #44a5cb;
    padding: 0.4em 0;
    min-width: 320px;
    width: 100%;
}
footer {
    color: #fff;
}
footer a{
    color: #fff;
}
footer p {
    line-height: 1.2em;
    padding:0;
    margin: 1em 0 0;
    font-size:0.8em;
    font-style:normal;
}
footer .copy {
    margin: -1.1em 0 0;
    float: right;
}

pre {
    text-align: left;
    width: max-content;
    margin: 1em auto;
}

noscript {
    color: red;
}

#mail-template{display:none}

table {
    width: 100%;
}
th,td {
    text-align:left;
}
th{
    max-width: 13em;
    font-weight: normal;
}
td {
    min-width:12em;
}

input[type="date"],
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width:100%;
    box-sizing:border-box;
}
textarea {
    height: 5.5em;
}

.title,.date {
    text-align:left;
    padding-left:2em;
    font-family: Courier, sans-serif;
}
.date {
    font-weight:bold;
}
form {text-align:left}

.pdflinks {
    text-align: left;
}

.spacious {
    margin-top: 4em}
